<ng-template [ngIf]= "showModal == true" >
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="toggleModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
    <form>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="data.rate" name="rate">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Naam</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" [(ngModel)]="data.name" name="name">
      </div>
      <div class="form-group">
          <label for="exampleFormControlInput2">Emailaddres</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com"  [(ngModel)]="data.email" name="email">
      </div>
      <button type="button" class="btn btn-primary" (click)="sendData()">Submit</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="toggleModal()">Close</button>
  </div>
</ng-template>
<div class="container">
  <button type="button" class="btn btn-primary" (click)="toggleModal()" *ngIf= "showModal == false">Hier ff klikken</button>
</div>


<!--
Ik zie heel veel divjes, deze kan je vervangen door een ng-container.
https://angular.io/guide/structural-directives#ngcontainer

Een ng-container wordt alleen gerenderd als deze nodig is en hier kunnen ook if of for directives op worden toegepast.
-->
